// Ultimate Remote Shell Execution
// Default Configurations 

manual = False
verbose = True
version = "v2.5.127"
edition = str(sys.platform).lower()[:3] + " free"
active_servers = {}
serv_ack = []
sock_ack = []

payload = "./__init__.py"
address = get_ip()
rbindport = 7575
exploit = ""
target = ""
target_port = 80

// Ultra Options

ultrakey = None
__donotchange = False
